#comment
/data/tensorflow/models/research/deeplab/logdir/*
/data/tensorflow/models/research/deeplab/checkpoints/*
/data/tensorflow/models/research/deeplab/vis_logdir/*
/data/tensorflow/models/research/deeplab/eval_logdir/*
/home/sarah/Documents/Repository/CloudBaseDetection/tfRecords/*
/home/sarah/Documents/Repository/CloudBaseDetection/__pycache__/*
/home/sarah/Documents/Repository/CloudBaseDetection/results/*
/home/sarah/Documents/Repository/CloudBaseDetection/core/__pycache__/*
/home/sarah/Documents/Repository/CloudBaseDetection/datasets/__pycache__/*
/home/sarah/Documents/Repository/CloudBaseDetection/utils/__pycache__/*
/home/sarah/Documents/Repository/CloudBaseDetection/trainingdata/groundtruthimages/*
/home/sarah/Documents/Repository/CloudBaseDetection/datasets/CloudsFolder/*
